<!-- calendar -->

<!-- end calendar -->


<div class='basinga-section <%= I18n.locale %>' id='actu'>
  <div id='actu__menu'>
    <div class='container'>

      <!-- section selector -->
      <div class='row'>
        <div class='col-xs-12'>
          <div class='filter-options btn-group center-block'>
            <ul class='list-inline'>
            <li class='btn btn-actu active' id='dates'>Dates</li>
            <li class='btn btn-actu' id='blog'>Blog</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end session selector -->
    </div>
  </div>

<div id='actu__dates' class='actu--shown'>
  <div class='container'>
    <div class='col-xs-1'></div>
    <div class='col-xs-10'>
      <div id='calendar'></div>
      <div class='spacer'></div>
    </div>
    <div class='col-xs-1'></div>
  </div>


</div>

<!-- debut tumblr -->
<div id='actu__blog' style='display: none'>

  <div class='container'>
    <div class='col-xs-1 col-sm-2'></div>
    <div class='col-xs-10 col-sm-8'>
      <div class='tumblr text-center'>

      </div>
    </div>
    <div class='col-xs-1 col-sm-2'></div>
  </div>
</div>
<!-- fin tumblr -->