<div id='contact' class='basinga-section'>
  <div class='container-fluid no-padding'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-1'></div>
        <div class='col-xs-10'>
          <div id='contact--text' class='text-justify'>
            <br>
          <h1 class='text-center'>Contact</h1>
          <div class='spacer'></div>
              <p>Vous avez un projet de Traversée ? Une piste de recherche ? Des idées à proposer ou échanger ? Des conseils à demander ? Vous voulez soutenir Basinga ? Vous voulez accompagner, produire ou diffuser la Grande Forme Funambule. <br>
              N’hésitez pas :
              </p>
          </div>
        </div>
        <div class='col-xs-1'></div>
      </div>
    </div>
    <div class='container-fluid no-padding'>

      <div class='row-fluid'>
        <div id='contact--wrapper'>
          <%= image_tag 'contact.jpeg', id: 'contact--image' %>
          <div class='col-xs-4'></div>
          <div class='col-xs-4'>
            <div class='text-center' id='contact--addresses'>
              <p>Direction Technique <br> Jan NAETS <br> najstean@gmail.com <br> +33 (0)6 98 92 10 34</p>
              <p>Production <br> Émilie PÉCUNIA <br> ciebasinga@gmail.com <br> +33 (0)6 89 97 55 69</p>
              <p>Direction Artistique <br> Tatiana-Mosio BONGONGA <br> tatiana.mosio@gmail.com</p>
            </div>
          </div>
          <div class='col-xs-4'></div>
        </div>
      </div>
    </div>
  </div>
</div>