

.blog__post {
  background-color: white;
  margin-top:2vw;
  margin-bottom:2vw;
  padding: 1vw;
  border-radius:15px;
  margin-left : auto;
}

.blog--image{
  margin: 0 auto;
}

.blog--quote h2 {
  font-size: 2.5vmin;
}

.blog--video .tmblr-embed{
  margin: 15px 0;
}

.blog__post img {
  max-width: 100%;
}